.skrypt-field-label {
  font-weight: 600;
}

.skrypt-tooltip-content
{  visibility: hidden; /* Hidden by default */
  width: 130px;
  background-color: black;
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1; /* Ensure tooltip is displayed above content */}

.skrypt-tooltip-container {
  position: relative;
  display: inline-block;
  margin-left: 0.25em;
}
.skrypt-tooltip-container:before {
content: "ⓘ"
}
.skrypt-tooltip-container:hover .skrypt-tooltip-content {
  visibility: visible;
}